.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaf3ef; /* parecido al que muestras */
  padding: 23px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    max-width: 500px;
    color: #94a5a7;
}

.searchBox input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    color: black;
}

.profile {
    position: relative;
}

.avatarBtn {
    width: 60px;
    height: 60px;
    background: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.2s;
}

.avatarBtn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: absolute;
    top: 50px; 
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    z-index: 100;
}

.searchBigBox {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    margin: auto;
    margin-top: 15px;
    max-width: 1000px;
    color: #94a5a7;
}

.searchBigBox input {
    flex: 1;
    padding: 20px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #e7edee;
    color: black;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dropdown p {
    margin: 0;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown p:hover {
    background: #f2f2f2;
}