# Entornos virtuales
.venv/
venv/
venv
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Archivos temporales
*.log
*.pot
*.pyc

# Archivos de base de datos locales
db.sqlite3

# Archivos de migraciones automáticas (si quieres ignorarlas en desarrollo, opcional)
# apps/*/migrations/*.py
# !apps/*/migrations/__init__.py

# Archivos de entorno
.env
.env.*
!*.env.example

# Archivos de cobertura/tests
.coverage
htmlcov/
.tox/
.mypy_cache/
pytest_cache/
