.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  
}

/* Variantes */
.primary {
  background: var(--accent-100);
  color: var(--bg-900);
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 35px;
  margin: 5px;

}

.secondary {
  background: var(--bg-900);
  color: white;
  font-weight: bold;
}

.ghost {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: var(--accent-200);
}

.outline {
  background: transparent;
  border: 2px solid var(--accent-300);
  color: var(--accent-300);
}
