.wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e2e8f0; /* gris claro */
  transition: background 0.3s;
}

.active {
  background: #1e1b4b; /* color principal activo */
}
